 <div class="panel-body">
    <div class="media">
      <div class="media-body" id="single-survey">
        <h3 class="survey-title-id" name="survey-title-name" id="{{survey._id}}"> {{survey.title}} </h3>
        <div>
          {{#each survey.questions}}
            <p id="{{_id}}">{{query}}</p>
            {{#each answers}}
              <tr><div class="radio">
                <label>
                  <input class="radio-button" type="radio" id="{{_id}}" name="{{../_id}}" value="option"> {{text}}
                </label>
              </div></tr>
            {{/each}}
          {{/each}}</td>
        </div></tbody>
      </table>
        <button class="btn btn-success" id="submit-votes" type="submit" name="submit" value="submit">Submit!</button>
      </div>
    </div>
  </div>
