{{#Questions}}
  <form id="Question">
    <fieldset>
      {{answers}}
    </fieldset>
{{/Questions}}




<!-- {{#chore}}
  <form id="update-form" >
    <fieldset>
        <input class="form-control" name="chore[title]"value={{title}}>
        <input class="form-control" name="chore[where]" value={{where}}>
        <input class="form-control" name="chore[when]" value={{when}}>
        <input class="btn btn-default" type="submit" data-id={{id}} value="Update Chore">
    </fieldset>
  </form>
{{/chore}} -->
